#navbar{
    background-color: #dce930b6;
}
#div1{
    margin-right: 5px;
}
#div1{
    display: none;
}
.navbar{
    gap: 2rem;
    padding-left: 5rem;
}
.search-bar{
    width: 28rem;
    margin-left: 11rem;
}
