#navbar{
    background-color: #dce930b6;
}
#div1{
    margin-right: 5px;
}
#div1{
    display: none;
}
.navbar{
    gap: 2rem;
    padding-left: 5rem;
}
.search-bar{
    width: 45rem;
    margin-left: 11rem;
}
.buttnlogin{
    margin-left: 3rem;
    padding: 2rem;
}
@media screen and (max-width:1390px){

}